.mine-sprite, .mine-icon_about, .mine-icon_agreement, .mine-icon_complain, .mine-icon_guide, .mine-icon_invite, .mine-icon_line, .mine-icon_more, .mine-icon_order, .mine-icon_question, .mine-icon_tips04, .mine-icon_voucher, .mine-icon_wallet {
  background-image: url('../../bulid/images/mine-s344279bffe.png');
  background-repeat: no-repeat;
}

.mine-icon_about {
  background-position: 0 0;
}

.mine-icon_agreement {
  background-position: 0 -48px;
}

.mine-icon_complain {
  background-position: 0 -96px;
}

.mine-icon_guide {
  background-position: 0 -144px;
}

.mine-icon_invite {
  background-position: 0 -192px;
}

.mine-icon_line {
  background-position: 0 -240px;
}

.mine-icon_more {
  background-position: 0 -288px;
}

.mine-icon_order {
  background-position: 0 -336px;
}

.mine-icon_question {
  background-position: 0 -384px;
}

.mine-icon_tips04 {
  background-position: 0 -432px;
}

.mine-icon_voucher {
  background-position: 0 -504px;
}

.mine-icon_wallet {
  background-position: 0 -552px;
}
